body{
	background-color:white;
	box-sizing: border-box;
	padding: 0px;
	margin:0px;

}

h1{
	color:black;
	font-family:Arial, sans-serif,serif;
	text-align: center;
	padding: 0px;

}
h2{
	font-family:Arial,sans-serif,serif;
	text-align: center;
	padding: 0px;
}

p{
	background-color: #aaaaaa;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	
	color: black;
	padding: 0px 15px 0px 15px;
	text-align: justify;


}
#box1{
	color:black;
	background-color: pink;
	border: 3px black solid;
	width:50%;
	position:relative;
	top:0px;
	left:50%;

}

#box2 {
	color:white;
	background-color:red; 
	border: 3px black solid;
	width:50%;
	position:relative;
	top:0px;
	left:50%;

}

#box3{
	color:brown;
	background-color:yellow; 
	border: 3px black solid;
	width:50%;
	position:relative;
	top:0px;
	left:50%;

}

.content{
	border: 3px black solid;
	margin: 0px;
	padding: 0px;
	background-color: #aaaaaa;
}

.row{
	width:90%;
	position: relative;
	left: 10%;


}
